<h1>Currency Converter</h1>
<div class="box">
    <input (input)="takeAmount($event)" type="text" value="{{ amount }}" />
  <select (change)="setFromCurency($event)">
    <option
      *ngFor="let currency of currencies"
      value="currency.name"
      id="{{ currency.code }}"
    >
      {{ currency.name }}
    </option>
  </select>
  <select (change)="setToCurency($event)">
    <option
      *ngFor="let currency of currencies.reverse()"
      value="currency.name"
      id="{{ currency.code }}"
    >
      {{ currency.name }}
    </option>
  </select>
  <h3>{{ amount | currencyConverter: fromCurrency:toCurrency }}</h3>
</div>
