html {
  height: 100%;
}
body {
  background-color: tan;
  display: grid;
  place-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica", sans-serif;
}

.box {
  background-color: lightblue;
  padding: 20px;
  text-align: center;
  min-height: 400px;
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  max-width: 70px;
  margin: 10px;
}

input,
select {
  /* height: 30px; */
  padding: 5px 10px;
}

.horizontal {
  dispay: flex;
}
